<%# 商品一覧 %>
<div class="row">
  <div class="productBox">
    <% products.each do |product| %>
      <div class="col-sm-4 col-xs-12">
        <div class="productImage clearfix">
          <%= link_to image_tag(product.display_image.attachment(:large), alt: "productsImage"), potepan_product_path(product.id) %>    
        </div>                
        <div class="productCaption clearfix">
          <%= link_to potepan_product_path(product.id) do %>
            <h5><%= product.name %></h5>
            <h3 class="bottom"><%= product.display_price %></h3>
          <% end %>                   
        </div>
      </div>
    <% end %>              
  </div>
</div>